/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato{
    border: 2px solid #b6b6b6 ;
width: 900px;
height: 200px;
display: flex;
align-items: center;
padding-left: 30px;
margin-left: 20px;
margin-top: 30px;
font-size: 1.5em;
font-family:'Bree Serif', serif;
color: #585858;}

span{
    color: #829aaa;
}

